{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="section-title">About Us</div>
            <h2 class="main">we are creative</h2>

            <div class="about-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatum laboriosam tenetur
                    necessitatibus suscipit consequatur non blanditiis sunt minus esse voluptate nostrum, distinctio
                    facilis vel eum ullam accusamus! Ab fugit labore suscipit sequi quas.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores magni dolorum tenetur ratione illum
                    voluptatum voluptatem, ipsum in eaque ducimus.</p>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="bi bi-github px-2" ></i>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <div class="about-box mx-4">
                <div class="box-overlay"></div>
                <img src="/static/images.jfif" class="mx-5 px-5" alt="">
            </div>
        </div>
    </div>

</div>


{% endblock body %}